:root{
    --cor-fundo: rgb(230, 140, 162);
    --borda: 2px solid #111;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}
header {
    padding: 10px;
    background-color: var(--cor-fundo);
    border-bottom: var(--borda)
}

h1 {
    font-size: 24px;
}
.corpo {
    border: var(--borda);
     background-color: rgb(232, 222, 238);
}

.imagem-logo {
    border: 2px solid #111;
    width: 150px;
    margin: 5px 30px 5px 5px;
    padding: 5px;
    background-color: rgb(179, 226, 117);
    float: left;
    
}

.quadrada {
    display: flex;
    align-items: center;
    border: var(--borda);
    margin: 20px;
    background-color: white;
    
    
}

.redonda {
    display: flex;
    align-items: center;
    border: var(--borda);
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    
}

footer {
    background-color: var(--cor-fundo);
    border-top: var(--borda);
}

.imagem-footer {
    width: 64px;
    padding: 5px;
    
}
